.bg {
    background-color: #2a242a;
    color: white;
    padding: 142px 70.212px;
}

.heading {
    text-align: center;
    color: grey;
    font-size: 1.5rem;
}

.subheading {
    text-align: center;
    font-size: 1.2rem;
    margin: 10px 0;
}

.cards {
    display: flex;
    margin: 50px 0;
    justify-content: space-around;
}

@media screen and (max-width: 480px) {
    .heading {
        display: none;
    }
    .subheading {
        padding-top: 100px;
    }
   
    .cards {
        padding-top: 40px;
        font-size: 0.6rem;
    }
}

@media screen and (max-width: 380px) {
    .subheading {
        padding-top: 250px;
    }
   
}

@media screen and (max-width: 340px) {
    .subheading {
        padding-top: 300px;
    }
   
}