.bg {
    background-color: #2a242a;
    color: white;
    padding: 142px 70.212px;
}

.heading {
    text-align: center;
    color: grey;
    font-size: 1.5rem;
}

.subheading {
    text-align: center;
    font-size: 1.2rem;
    margin: 10px 0;
}

.cards {
    display: flex;
    
    margin-left: 5%;
    
    justify-content: space-around;
}

  @media screen and (max-width: 480px) {
    .heading {
        display: none;
    }
    .subheading {
        padding-top: 100px;
    }
   
}


@media screen and (max-width: 768px) {
    .cards {
        display: block;
    }
}

@media screen and (max-width: 500px) {
    .cards {
        margin-left: 3%;
    }
}

@media screen and (max-width: 430px) {
    .cards {
        margin-left: -2%;
    }
}

@media screen and (max-width: 400px) {
    .cards {
        margin-left: -25%;
        
    }
}
/* @media screen and (max-width: 768px) {
    .heading {
        display: none;
    }
} */
/*

@media screen and (max-width: 380px) {
    .subheading {
        padding-top: 250px;
    }
}

@media screen and (max-width: 340px) {
    .subheading {
        padding-top: 300px;
    }
}  

/* @media screen and (max-width: 600px) {
    .cards {
        display: block; 
        text-align: center;
    }

    .cards > * {
        margin: 10px 0; 
    }

    .heading {
        display: none; 
    }

    .subheading {
        padding-top: 100px; 
    }
} */


/* @media screen and (max-width: 600px) {
    .cards {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}  */



